<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>GIDServerClientID</key>
    <string>171200997867-mi4dbnvj5l29jl2tiqdkjmhdvs1gdrom.apps.googleusercontent.com</string>

    <key>GIDClientID</key>
    <string>171200997867-80uv8a8ft093fnftctm64dcidi25v3b6.apps.googleusercontent.com</string>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.171200997867-80uv8a8ft093fnftctm64dcidi25v3b6</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
